In [21]:
import pandas as pd
import tensorflow as tf
from tensorflow import keras

In [1]:
from sklearn.datasets import fetch_california_housing

In [2]:
housing = fetch_california_housing()
housing.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'feature_names', 'DESCR'])

In [11]:
df= pd.DataFrame(housing.data, columns= housing.feature_names)
df.head()

   MedInc  HouseAge  AveRooms  ...  AveOccup  Latitude  Longitude
0  8.3252      41.0  6.984127  ...  2.555556     37.88    -122.23
1  8.3014      21.0  6.238137  ...  2.109842     37.86    -122.22
2  7.2574      52.0  8.288136  ...  2.802260     37.85    -122.24
3  5.6431      52.0  5.817352  ...  2.547945     37.85    -122.25
4  3.8462      52.0  6.281853  ...  2.181467     37.85    -122.25

[5 rows x 8 columns]

In [14]:
from sklearn.model_selection import train_test_split

In [16]:
X_train_full, X_test, Y_train_full, Y_test = train_test_split(housing.data, housing.target,random_state= 0)

In [18]:
X_train, X_val, Y_train, Y_val= train_test_split(X_train_full,Y_train_full, random_state=0)

In [19]:
from sklearn.preprocessing import StandardScaler

In [20]:
scalar = StandardScaler()
x_train_scaled = scalar.fit_transform(X_train)
x_test_scaled = scalar.fit_transform(X_test)
x_val_scaled = scalar.fit_transform(X_val)

In [22]:
model = keras.models.Sequential()

In [35]:
model.add(keras.layers.Dense(8,activation ='relu'))

In [36]:
model.add(keras.layers.Dense(1))

In [37]:
model.compile(loss='mean_squared_error', optimizer = 'sgd')

In [38]:
reg = model.fit(x_train_scaled,Y_train, validation_data=(x_val_scaled,Y_val),epochs= 30)

Epoch 1/30
363/363 [==============================] - 1s 2ms/step - loss: 0.3719 - val_loss: 0.9294
Epoch 2/30
363/363 [==============================] - 1s 2ms/step - loss: 0.3602 - val_loss: 0.9813
Epoch 3/30
363/363 [==============================] - 1s 2ms/step - loss: 0.3586 - val_loss: 1.2411
Epoch 4/30
363/363 [==============================] - 1s 2ms/step - loss: 0.3568 - val_loss: 1.0579
Epoch 5/30
363/363 [==============================] - 1s 2ms/step - loss: 0.3550 - val_loss: 1.1130
Epoch 6/30
363/363 [==============================] - 1s 2ms/step - loss: 0.3553 - val_loss: 1.2175
Epoch 7/30
363/363 [==============================] - 1s 2ms/step - loss: 0.3564 - val_loss: 1.1110
Epoch 8/30
363/363 [==============================] - 1s 2ms/step - loss: 0.3546 - val_loss: 1.0636
Epoch 9/30
363/363 [==============================] - 1s 2ms/step - loss: 0.3534 - val_loss: 1.0671
Epoch 10/30
363/363 [==============================] - 1s 2ms/step - loss: 0.3522 - val_loss: 1.0370
Epoch 11/30
363/363 [==============================] - 1s 2ms/step - loss: 0.3522 - val_loss: 1.1741
Epoch 12/30
363/363 [==============================] - 1s 2ms/step - loss: 0.3526 - val_loss: 1.1093
Epoch 13/30
363/363 [==============================] - 1s 2ms/step - loss: 0.3514 - val_loss: 0.9951
Epoch 14/30
363/363 [==============================] - 1s 2ms/step - loss: 0.3526 - val_loss: 1.1810
Epoch 15/30
363/363 [==============================] - 1s 2ms/step - loss: 0.3528 - val_loss: 1.2353
Epoch 16/30
363/363 [==============================] - 1s 2ms/step - loss: 0.3555 - val_loss: 1.0636
Epoch 17/30
363/363 [==============================] - 1s 2ms/step - loss: 0.3497 - val_loss: 0.9669
Epoch 18/30
363/363 [==============================] - 1s 2ms/step - loss: 0.3513 - val_loss: 1.0528
Epoch 19/30
363/363 [==============================] - 1s 2ms/step - loss: 0.3531 - val_loss: 1.1668
Epoch 20/30
363/363 [==============================] - 1s 2ms/step - loss: 0.3512 - val_loss: 1.0732
Epoch 21/30
363/363 [==============================] - 1s 2ms/step - loss: 0.3494 - val_loss: 1.1635
Epoch 22/30
363/363 [==============================] - 1s 2ms/step - loss: 0.3500 - val_loss: 1.1055
Epoch 23/30
363/363 [==============================] - 1s 2ms/step - loss: 0.3489 - val_loss: 1.1447
Epoch 24/30
363/363 [==============================] - 1s 2ms/step - loss: 0.3510 - val_loss: 1.0800
Epoch 25/30
363/363 [==============================] - 1s 2ms/step - loss: 0.3490 - val_loss: 1.0103
Epoch 26/30
363/363 [==============================] - 1s 2ms/step - loss: 0.3474 - val_loss: 1.2175
Epoch 27/30
363/363 [==============================] - 1s 2ms/step - loss: 0.3484 - val_loss: 1.1985
Epoch 28/30
363/363 [==============================] - 1s 2ms/step - loss: 0.3486 - val_loss: 1.2514
Epoch 29/30
363/363 [==============================] - 1s 2ms/step - loss: 0.3474 - val_loss: 1.0969
Epoch 30/30
363/363 [==============================] - 1s 2ms/step - loss: 0.3481 - val_loss: 0.9562

In [39]:
test= model.evaluate(x_test_scaled, Y_test)

162/162 [==============================] - 0s 2ms/step - loss: 0.4162

In [40]:
x = x_train_scaled[:3]

In [41]:
 pred = model.predict(x)

In [42]:
pred

array([[1.1218058 ],
       [1.1283181 ],
       [0.96682775]], dtype=float32)

In [44]:
target = Y_train[:3]
target

array([0.869, 1.213, 0.535])